<!DOCTYPE html>
<html>
<head>
    <title>Registered Delivery Boys</title>
</head>
<body>

<h2>Registered Delivery Boys</h2>

<table border="1" width="100%">
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Vehicle No</th>
    </tr>

    {% for boy in boys %}
    <tr>
        <td>{{ boy.name }}</td>
        <td>{{ boy.phone }}</td>
        <td>{{ boy.email|default:"-" }}</td>
        <td>{{ boy.vehicle_no }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4" align="center">
            No registered delivery boys
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
