{% extends 'macanda/manager/header.html' %}

{% block content %}
<div class="container mt-5">

    <!-- ================= PAID ORDERS ================= -->
    <h3 class="mb-4">Paid Orders</h3>
    <p style="margin-left: 1%;"><a href="{% url 'manager' %}">Bach to manager module</a></p>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Customer Email</th>
                <th>Product</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Ordered On</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ order.user.username }}</td>
                <td>{{ order.product.name }}</td>
                <td>₹{{ order.amount }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.created_at }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-muted text-center">
                    You have no paid orders.
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}