{% extends 'macanda/Admin/header.html' %}
{% block content %}

{% include 'macanda/Admin/includesnippets.html' %}

<div class="container d-flex justify-content-center mt-4">
    <div class="card shadow-lg" style="width: 520px; height: 30%;">
        <div class="card-body">

            <h3 class="text-center mb-4 text-dark">Add Carousel Image</h3>

            <form method="post" action="{% url 'createcarousalimage' %}" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="mb-4">
                    <input type="file" name="image" class="form-control p-3" required>
                </div>

                <button type="submit" class="btn btn-info w-100">
                    Upload Image
                </button>

            </form>

        </div>
    </div>
</div>

{% endblock %}
