{% extends 'macanda/Admin/header.html' %}
{% block content %}

{% include 'macanda/Admin/includesnippets.html' %}


<div class="container">
<h1 class="text-center">Discount Management</h1>
<div class="text-center">
    <a href="{% url 'newoffer' %}">Add Offer</a>
</div>

<table class="table table-bordered text-center mt-4">
    <tr>
        <th>Product_id</th>
        <th>discount_prcent</th>
        <th>start_Date</th>
        <th>end_Date</th>
        <th>Action</th>
    </tr>

    {% for offer in Offer %}
    <tr>
        <td>{{ offer.product_id }}</td>
        <td>{{ offer.discount_percent }}</td>
        <td>{{ offer.start_date }}</td>
        <td>{{ offer.end_date }}</td>
        <td>
            <a href="{% url 'edit_offer' offer.id %}" class="btn btn-warning btn-sm">Edit</a>
            <a href="{% url 'deleteoffer' offer.id %}" class="btn btn-danger btn-sm">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

</div>
{% endblock %}






