{% extends 'macanda/Admin/header.html' %}
{% block content %}

<h1 class="text-center mb-4">Image Management</h1>

<div class="text-center mb-3">
    <a href="{% url 'fileupload' %}" class="btn btn-primary">Add Image</a>
</div>

<table border="1">
    {% for item in images %}
    <tr>
        <td>
            <img src="{{ item.image.url }}" height="100" width="100">
        </td>
        <td>
            <a href="{% url 'deleteimage' item.id %}" class="btn btn-danger btn-sm">Delete</a>
            <a href="{% url 'editimg' item.id %}" class="btn btn-warning btn-sm">Edit</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
