{% extends 'macanda/User/base.html' %}
{% block content %}


<!-- ================= MAIN HERO CAROUSEL ================= -->
<div id="carouselExampleIndicators"
     class="carousel slide"
     data-bs-ride="carousel"
     data-bs-interval="3000">

  <!-- INDICATORS -->
  <div class="carousel-indicators">
    {% for img in carousalimage %}
      <button type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="{{ forloop.counter0 }}"
              class="{% if forloop.first %}active{% endif %}">
      </button>
    {% endfor %}
  </div>

  <!-- SLIDES -->
  <div class="carousel-inner">
    {% for img in carousalimage %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <img src="{{ img.image.url }}"
             class="d-block w-100"
             alt="Carousel Image">
      </div>
    {% endfor %}
  </div>

  <!-- CONTROLS -->
  <button class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>

  <button class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>


<!-- ================= UPLOADED IMAGES SECTION ================= -->
<div style="
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 1%;
    justify-content: space-between;">
  {% for img in images %}
    <img src="{{ img.image.url }}" width="248" height="200">
  {% empty %}
    <p>No images uploaded</p>
  {% endfor %}
</div>

<!-- ================= POPULAR PRODUCTS TITLE ================= -->
<div class="popular_prct">
  <h1 style="text-align: center; font-family: 'Times New Roman', Times, serif;">
    Most Popular Products
  </h1>
</div>

<div class="popular_text">
  <span class="tab active">NEW PRODUCTS</span>
  <img src="https://codezeel.com/opencart/OPC02/OPC020049/catalog/view/theme/Candles/image/codezeel/candle.png">
  <span class="tab">BESTSELLER</span>
    <img src="https://codezeel.com/opencart/OPC02/OPC020049/catalog/view/theme/Candles/image/codezeel/candle.png">
  <span class="tab">SPECIAL PRODUCTS</span>
</div>

<!-- ================= PRODUCT CAROUSEL ================= -->
<div id="productCarousel" class="carousel slide" data-bs-touch="false">

  <div class="carousel-inner">

    {% for pdt in products %}
      
      {% if forloop.first or forloop.counter0|divisibleby:4 %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <div class="row">
      {% endif %}

          <div class="col-md-3">
            <div class="product-card text-center p-2">

              <h6>{{ pdt.name }}</h6>

              {% if pdt.pdt_image %}
                <div class="product-image-wrap">
                  <img src="{{ pdt.pdt_image.url }}"
                       class="img-fluid"
                       alt="{{ pdt.name }}">

                  <div class="product-icons">
                  <a href="{% url 'add_to_wishlist' pdt.id %}" class="icon" title="Add to Wishlist"><i class="fa fa-heart" ></i></a>
                    <span class="icon quick-view-btn"
                          data-id="{{ pdt.id }}"
                          data-image="{{ pdt.pdt_image.url }}"
                          data-name="{{ pdt.name }}"
                          data-price="{{ pdt.price }}"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                          title="Quickview">
                      <i class="fa fa-eye"></i>
                    </span>
                    <a href="{% url 'payment_page' pdt.id %}"
                      class="icon"
                      title="Pay Now">
                    <i class="fa fa-credit-card"></i>
                    </a>                   
                    <a href=" {% url 'add_to_cart' pdt.id  %}"  class="icon" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                  </div>
                </div>
              {% else %}
                <p>No image</p>
              {% endif %}

              <p>₹{{ pdt.price }}</p>

            </div>
          </div>

      {% if forloop.counter|divisibleby:4 or forloop.last %}
        </div>
      </div>
      {% endif %}

    {% endfor %}

  </div>

<button class="carousel-control-prev" type="button"
        data-bs-target="#productCarousel" data-bs-slide="prev">
  <span class="carousel-control-prev-icon"
        style="filter: invert(1);"></span>
</button>

<button class="carousel-control-next" type="button"
        data-bs-target="#productCarousel" data-bs-slide="next">
  <span class="carousel-control-next-icon"
        style="filter: invert(1);"></span>
</button>

</div>

<!-- ================= FULL WIDTH IMAGE ================= -->
<div class="container-fluid">
  {% if one_image %}
  <div class="Relax"
       style="background-image: url('{{ one_image.image.url }}');">
       
    <div class="Relax-content">
      <h2 style="font-family: 'Times New Roman', Times, serif; font-size: 4rem;">
        Relax While You Watch
      </h2>
      <p>
        Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry.
      </p>
      <a href="#" class="shop-btn">Shop Now</a>
    </div>

  </div>
  {% endif %}
</div>





<!-- ================= FUTURE CAROUSL TITLE ================= -->
<div class="popular_prct">
  <h1 style="text-align: center; font-family: 'Times New Roman', Times, serif;margin-bottom: 3%;">
    Featured Products
  </h1>
</div>

<!-- ================= FUTURE CAROUSAL ================= -->

<div id="futureCarousel" class="carousel slide" data-bs-touch="false">

  <div class="carousel-inner">

    {% for pdt in products %}
      
      {% if forloop.first or forloop.counter0|divisibleby:4 %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <div class="row">
      {% endif %}

          <div class="col-md-3">
            <div class="product-card text-center p-2">

              <h6>{{ pdt.name }}</h6>

              {% if pdt.pdt_image %}
                <div class="product-image-wrap">
                  <img src="{{ pdt.pdt_image.url }}"
                       class="img-fluid"
                       alt="{{ pdt.name }}">

                  <div class="product-icons">
                  <a href="{% url 'add_to_wishlist' pdt.id %}" class="icon" title="Add to Wishlist"><i class="fa fa-heart" ></i></a>
                  <span class="icon quick-view-btn"
                          data-id="{{ pdt.id }}"
                          data-image="{{ pdt.pdt_image.url }}"
                          data-name="{{ pdt.name }}"
                          data-price="{{ pdt.price }}"
                          data-bs-toggle="modal"
                          data-bs-target="#quickViewModal"
                          title="Quickview">
                      <i class="fa fa-eye"></i>
                  </span>                    
                <a href="{% url 'payment_page' pdt.id %}"
                  class="icon"
                  title="Pay Now">
                  <i class="fa fa-credit-card"></i>
                </a>

                  </span>
                  <a href=" {% url 'add_to_cart' pdt.id  %}"  class="icon" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                  </div>
                </div>
              {% else %}
                <p>No image</p>
              {% endif %}

              <p>₹{{ pdt.price }}</p>

            </div>
          </div>

      {% if forloop.counter|divisibleby:4 or forloop.last %}
        </div>
      </div>
      {% endif %}

    {% endfor %}

  </div>

  <button class="carousel-control-prev" type="button"
          data-bs-target="#futureCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" style="filter: invert(1);"></span>
  </button>

  <button class="carousel-control-next" type="button"
          data-bs-target="#futureCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" style="filter: invert(1);"></span>
  </button>

</div>




<!-- QUICK VIEW IMAGE ONLY -->
<div class="modal fade" id="quickViewModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-xl">

    <!-- ✅ WHITE QUICK VIEW BOX -->
    <div class="modal-content border-0">

      <!-- CLOSE BUTTON -->
      <button type="button"
              class="btn-close position-absolute top-0 end-0 m-3"
              data-bs-dismiss="modal"
              style="z-index:1056;"></button>

      <div class="modal-body">

        <div class="row align-items-center">

          <!-- LEFT : IMAGE -->
          <div class="col-md-6 text-center">
            <img id="quickViewImage"
                 src=""
                 class="img-fluid">
          </div>

          <!-- RIGHT : DETAILS -->
          <div class="col-md-6">

            <h3 id="quickViewName" class="mb-2"></h3>

            <div class="text-warning mb-2">
              ★★★★★
            </div>

            <h4 id="quickViewPrice" class="fw-bold"></h4>

            <!-- <p class="text-muted mt-3">
              Availability: <strong>In Stock</strong>
            </p> -->

          <a id="quickViewAddToCart"
            href=" {% url 'cart'  %}"
            class="btn btn-primary mt-3">
            Add to Cart
          </a>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>


<script>
document.querySelectorAll('.quick-view-btn').forEach(btn => {
  btn.addEventListener('click', function () {

    const productId = this.dataset.id;

    document.getElementById('quickViewImage').src = this.dataset.image;
    document.getElementById('quickViewName').innerText = this.dataset.name;
    document.getElementById('quickViewPrice').innerText = '₹' + this.dataset.price;

    document.getElementById('quickViewAddToCart').href =
      `/add_to_cart/${productId}/`;

  });
});
</script>





{% endblock %}
