{% extends 'macanda/User/mainbase.html' %}
{% block content %}

<!-- ================= MAIN HERO CAROUSEL ================= -->
 <style>
/* BODY BACKGROUND */
body{
  background-image: url("../img/parallax-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#carouselExampleIndicators{
  max-width: 85%;
  margin: 8px auto;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 15px;
}
</style>

 
<div id="carouselExampleIndicators"
     class="carousel slide"
     data-bs-ride="carousel"
     data-bs-interval="3000">

  <div class="carousel-indicators">
    <button type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"></button>

    <button type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"></button>
  </div>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://codezeel.com/opencart/OPC02/OPC020049/image/cache/catalog/main-banner-1-1903x903.jpg"
           class="d-block w-100"
           alt="Banner 1">
    </div>

    <div class="carousel-item">
      <img src="https://codezeel.com/opencart/OPC02/OPC020049/image/cache/catalog/main-banner-2-1903x903.jpg"
           class="d-block w-100"
           alt="Banner 2">
    </div>
  </div>

  <button class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>

  <button class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>






{% endblock %}
